<div class="drawer-container" [ngClass]="{ 'drawer-closed': !isOpen }">
  <div class="drawer-header">
    <div class="logo-container">
      @if (isOpen) {
      <div>
        <!-- <img
          src="./coomevaLogo.png"
          alt="Coomeva Logo"
          class="logo-img"
          style="width: 100%; height: 100%;"
        /> -->
        <h2>Coomeva</h2>
      </div>
      }
    </div>
    <button class="toggle-btn" (click)="toggleDrawer()">
      @if (isOpen) {
      <span class="material-icons">chevron_left</span>
      } @else {
      <span class="material-icons">chevron_right</span>
      }
    </button>
  </div>

  <nav class="drawer-nav">
    <ul>
      @for (item of navItems; track $index) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="active-link">
          <span class="material-icons nav-icon">{{ item.icon }}</span>
          @if (isOpen) {
          <span class="nav-label">{{ item.label }}</span>
          }
        </a>
      </li>
      }
    </ul>
  </nav>
</div>
