<div class="modal-overlay">
  <div class="modal-content">
    <!-- <button class="btn-cerrar" (click)="aceptar()" aria-label="Cerrar">×</button> -->
    <div class="comprobante" *ngIf="datosComprobante">
      @if (!resumen) {
        <h2 class="titulo">COMPROBANTE EMISION DE GIROS</h2>
      } @else {
        <h2 class="titulo">RESUMEN EMISION DE GIROS</h2>
      }

      @if (!resumen) {
      <div class="fecha-hora">
        <div>
          Fecha de emisión: {{ formatearFecha(datosComprobante.fechaEmision) }}
        </div>
        <div>Hora: {{ formatearHora(datosComprobante.fechaEmision) }}</div>
      </div>
      }

      <div class="info-grid">
        @if (!resumen) {
        <div class="info-row">
          <div class="label">Nro. Giro</div>
          <div class="value">{{ datosComprobante.numeroGiro }}</div>
        </div>
        }

        <div class="info-row">
          <div class="label">Cajero</div>
          <div class="value">{{ datosComprobante.cajero }}</div>
        </div>

        <div class="info-row">
          <div class="label">Cuenta Origen</div>
          <div class="value">{{datosComprobante.cuentaOrigen?.tipoCuenta}} - {{
            datosComprobante.cuentaOrigen?.numeroCuenta }}</div>
        </div>

        <!-- <div class="info-row">
          <div class="label">Solicitante</div>
          <div class="value">{{datosComprobante.nombreSolicitante}}</div>
        </div> -->

        <!-- <div class="info-row">
          <div class="label">Identificación del solicitante</div>
          <div class="value">{{datosComprobante.tipoDocumentoSolicitante}} {{datosComprobante.numeroDocumentoSolicitante}}</div>
        </div> -->

        <!-- <div class="info-row">
          <div class="label">Valor giro</div>
          <div class="value">{{formatearMoneda(datosComprobante.valorGiro)}}</div>
        </div> -->

        <div class="info-row">
          <div class="label">Comisiones</div>
          <div class="value">
            {{ formatearMoneda(datosComprobante.comision) }} {{ datosComprobante.tipoMoneda?.codigo }}
          </div>
        </div>

        <div class="info-row">
          <div class="label">GMF de la Comisión</div>
          <div class="value">
            {{ formatearMoneda(datosComprobante.gmfComision) }} {{ datosComprobante.tipoMoneda?.codigo }}
          </div>
        </div>

        <div class="info-row total">
          <div class="label">Total a pagar</div>
          <div class="value">
            {{ formatearMoneda(datosComprobante.valorTotal) }} {{ datosComprobante.tipoMoneda?.codigo }}
          </div>
        </div>

        <div class="info-row">
          <div class="label">Identificación del beneficiario</div>
          <div class="value">
            {{ datosComprobante.tipoDocumentoBeneficiario }}
            {{ datosComprobante.numeroDocumentoBeneficiario }}
          </div>
        </div>

        <div class="info-row">
          <div class="label">Nombre del beneficiario</div>
          <div class="value">{{ datosComprobante.nombreBeneficiario }}</div>
        </div>

        <!-- <ng-container *ngIf="datosComprobante.nombreAutorizado">
          <div class="info-row">
            <div class="label">Identificación del autorizado</div>
            <div class="value">{{datosComprobante.tipoDocumentoAutorizado}}
              {{datosComprobante.numeroDocumentoAutorizado}}</div>
          </div>

          <div class="info-row">
            <div class="label">Nombre del autorizado</div>
            <div class="value">{{datosComprobante.nombreAutorizado}}</div>
          </div>
        </ng-container> -->
      </div>

      @if (!resumen) {
      <div class="notas">
        <p>
          Recuerde que pasados 15 días hábiles sin cobrar el giro, será devuelto
          a la cuenta emisora, exceptuando los conceptos relacionados a la
          comisión.
        </p>
        <p>
          Por favor, verifique que la información correspondiente al titular,
          cuenta y valor sean correctos.
        </p>
      </div>
      }

      @if (!resumen) {
      <div class="email-info" *ngIf="datosComprobante.emailSolicitante">
        <p>
          En constancia de lo anterior se envía comprobante a la cuenta de
          correo:
        </p>
        <p class="email">{{ datosComprobante.emailSolicitante }}</p>
      </div>
      }

      @if (!resumen) {
      <div class="button-container">
        <button class="btn-aceptar" (click)="aceptar()">ACEPTAR</button>
      </div>
      } @else {
      <div class="button-container">
        <button class="btn-aceptar" (click)="closeResume()">CONFIRMAR</button>
      </div>
      }
    </div>
  </div>
</div>