<div class="main-container">
  <div class="step-content">
    <app-consulta-giro (datosListos)="actualizarEstadoPaso($event)" [nextStep]="nextStep" [restartProcess]="reiniciarState"></app-consulta-giro>
    @if (pasoConsultaCompleto) {
    <app-valor-giro [clientData]="giroDataService.getGiroData()" (valorConfirmado)="actualizarEstadoPaso($event)"
      [nextStep]="nextStep" [prevStep]="previousStep">
    </app-valor-giro>
    }
    @if (currentStep === 3) {
    <app-beneficiario-giro (beneficiarioConfirmado)="nextStep()" (reiniciarProceso)="currentStep = 1">
    </app-beneficiario-giro>
    }
  </div>

  <!-- <div class="navigation-buttons">
    <button class="btn-previous" (click)="previousStep()" [disabled]="currentStep === 1">Anterior</button>
    @if (currentStep !== 3) {
    <button class="btn-next" (click)="nextStep()" [disabled]="!canProceedToNextStep()">Siguiente</button>
    }
  </div> -->
</div>